html {
    scroll-behavior: smooth; /* Suaviza el desplazamiento */
  }
.main{
    background-color: #0c5daf;
    color: #343a40;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.portada{
    width:300px;
    border-radius: 25px;
}

.card{

    background-color: #86b7fe;
    border-radius:10px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #0c5daf; /* Color de la línea */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    margin: 20px 0;
  }
.icon-list{
    padding-left: 0;
    text-align: left;
}

.logo{
    width: 350px;
}