.main{
    background-color: #0c5daf;
    color: #343a40;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.portada{
    width:300px;
    border-radius: 25px;
}